@page "/home"
@inherits BaseSecureComponent
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inject AccountClient client
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="HandleLogout">Logout</button>

@code {
    private void HandleLogout()
    {
        client.Logout();
        Nav.NavigateTo("/");
    }
}