@inherits BaseSecureComponent
@inject AttendanceClient attendanceClient
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<!-- Modal -->
<div class="modal fade" id="@GetModalId(Attendance)" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">@title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancel
                </button>

                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick="SendDSRReminderAsync">
                    Send
                </button>
            </div>

        </div>
    </div>
</div>

@code {
    private string title = string.Empty;

    [Parameter]
    public TodaysAttendanceResponse? Attendance { get; set; }

    [Parameter]
    public EventCallback OnAttendanceUpdated { get; set; }


    protected override void OnParametersSet()
    {
        if (Attendance?.IsDSRSent == true)
        {
            title = $"{Attendance?.FirstName} already has sent DSR?";
        }
        else
        {
            title = $"Send DSR reminder to {Attendance?.FirstName}?";
        }
    }

    public static string GetModalId(TodaysAttendanceResponse? attendance)
    {
        return $"update-attendance-{attendance?.Id}";
    }


    private async Task SendDSRReminderAsync()
    {
        await attendanceClient.SendDSRReminderAsync(Attendance!);
        await OnAttendanceUpdated.InvokeAsync();
        StateHasChanged();
    }
}
